.nav-background {
    background-color: white;
}

@media (max-width: 992px) {
    .nav-background {
        background-color: rgb(74, 170, 165);
    }
}

.data-page-body {
    background-color: white;
}

body {
    background-color: rgb(231, 231, 231);
}

.main-content {
    padding: 10px;
    background-color: white;
    border: 5px solid rgb(231,231,231)
}

.inbetween-column {
    background-color: rgb(231,231,231);
    width: 5px;
}

.main-image {
    height: 240.625px;
    width: 350px;
    float: left;
}

.visualization-page-summary-image {
    height: 288.75px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.visualization-page-selected-image {
    border: 2.5px solid rgb(74, 170, 165)
}

.table-image {
    width: 205.8px;
    height: auto;
}

.visualization-content {
    padding: 10px;
    float: right;
    background-color: white;
    border: 5px solid rgb(231,231,231)
}

.navbrand-title {
    padding: 5px;
    background-color: rgb(74, 170, 165);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: white;
    font-weight: bold; 
}

.content-title {
    color: rgb(74,170,165);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

.nav-standard {
    color: black;
    padding-top: 17px; 
}

.comparison-page-title {
    color:rgb(74, 170, 165);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    text-align: center;
}

